[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/bundle/ultisnips"]
	path = bundle/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "ultisnipss"]
	path = ultisnipss
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/ultisnip"]
	path = bundle/ultisnip
	url = https://github.com/SirVer/ultisnips.git
