[submodule "bundle/vim-commentary"]
	path = bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-eunuch"]
	path = bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule "bundle/ultisnip"]
	path = bundle/ultisnip
	url = https://github.com/SirVer/ultisnips.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-dispatch"]
	path = bundle/vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "bundle/vim-unimpaired"]
	path = bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
